body{
   background: linear-gradient(rgba(255, 255, 0, 0.63),rgba(255, 51, 0, 0.829));
   background-repeat: no-repeat;
   height: 900px;
   
}
img{
    height: 500px;
   margin: auto;
   margin-left: 500px;
   margin-top: 50px;
   margin-bottom: 50px;
  box-shadow:   10px 5px 5px red;
     

}
input[type="submit"]{
   height: 100px;
   width: 200px;
   background: linear-gradient(rgba(255, 255, 0, 0.63),rgba(255, 51, 0, 0.829)); ;
   color: black;
   border: 5px solid black;
   box-shadow: 5px 5px 2px black;

   
   margin-left: 300px;
}

